/*  */

@font-face {
  font-family: "My Font Bold";
  src: url("../assets/fonts/test-calibre-semibold.woff2") format("woff2");
}

.mainTitle {
  font-family: "My Font Bold";
  font-weight: 600;
  font-size: clamp(40px, 8vw, 80px);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.all__recipes {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 20px;
}

.recipe__card {
  padding: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.recipe__image_container {
  background-color: rgb(220, 218, 218);
  height: 200px;
  width: 300px;
  border-radius: 15px;
}

.recipe__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.recipe__title {
  margin-top: 10px;
  text-decoration: none;
}

.recipe__chef {
  margin-top: 10px;
}

.show {
  transition: all 600ms ease-in-out;
  transform: translateY(0px);
  opacity: 1;
}

.hide {
  transform: translateY(50px);
  transition: all 600ms ease-in-out;
  opacity: 0;
}
